.container {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.scrollArrow {
  position: absolute;
  bottom: 0;
  z-index: 1000;
  opacity: 1;
  transition: opacity 500ms linear;
}

.scrollArrow svg {
  width: 3rem;
}

.body {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  position: relative;
}

.canvas {
  position: absolute;
  top: 15%;
  left: 40%;
  max-width: 700px;
  background-color: rgba(255, 255, 255, 0);
  transition: opacity 5s;
  opacity: 0;
}

@media screen and (max-width: 1000px) {
  .canvas {
    max-height: 70rem;
    top: 30%;
    left: 50%;
    max-width: 400px;
  }
}

@media screen and (max-width: 600px) {
  .canvas {
    max-height: 50rem;
    top: 40%;
    left: 5%;
    max-width: 400px;
  }
}



.intro {
  font-weight: 300;
  font-size: 5rem;
  position: absolute;
  top: 20%;
  left: 25%;
  color: var(--fontColor);
  transition: opacity 5s;
  display: flex;
}

.intro p {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  transition: opacity 2s;
}

.intro p:last-child {
  position: absolute;
  top: 15rem;
  font-size: 2rem;
  width: 30rem;
  word-break: keep-all;
  white-space: normal;
}

.intro span{
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 600;
}

/* possible emoji if I want later */
/* .intro p::after {
  content: "😄";
  font-size: 4rem;
} */

@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.container svg {
  margin: 0.5rem;
  width: 2rem;
}

.svgWrapper {
  cursor: pointer;
}

.svgWrapper:hover {
  background-color: var(--hoverColor);
  border-radius: 0.2rem;
}