.container {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 2rem;
    row-gap: 1rem;
}

.skillGrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 1rem;
}

.cell {
    font-weight: 300;
    min-height: 3rem;
    width: fit-content;
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 1.5rem;
    --border: 0.15rem;
    --radius: 1.5rem;
    border-radius: var(--radius);
    border: var(--border) solid var(--hoverColor);
    position: relative;
    background-color: var(--backgroundColor);
    transition: background-color 500ms linear;
    box-sizing: border-box;
}

.cell:hover {
    border: 0px;
}

.cell:hover::after {
    content: '';
    position: absolute;
    border-radius: var(--radius);
    top: calc(-1 * var(--border));
    left: calc(-1 * var(--border));;
    right: calc(-1 * var(--border));;
    bottom: calc(-1 * var(--border));;
    background: linear-gradient(60deg, #f79533, #f37055, var(--backgroundColor), var(--backgroundColor), #ef4e7b, #a166ab, var(--backgroundColor), var(--backgroundColor), #5073b8, #1098ad, var(--backgroundColor), var(--backgroundColor), #07b39b, #6fba82);
    animation: animatedgradient 5s ease alternate infinite;
    background-size: 300% 300%;
    animation-fill-mode: forwards;
    z-index: -1;
}

@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}